{if="$page_max > 1"}
<div class="paging clearfix">
    <div class="row">
        <div class="col-xs-3 col-sm-2 text-left">{if="$previous_page_url"}<a href="{$previous_page_url}" class="paging-older" title="{'Older'|t}"><i class="fa fa-fw fa-lg fa-arrow-left"></i></a>{/if}</div>
        <div class="paging-current col-xs-6 col-sm-8 text-center"><span class="hidden-xs">{'page'|t}</span> {$page_current} / {$page_max}</div>
        <div class="col-xs-3 col-sm-2 text-right">{if="$next_page_url"}<a href="{$next_page_url}" class="paging-newer" title="{'Newer'|t}"><i class="fa fa-fw fa-lg fa-arrow-right"></i></a>{/if}</div>
    </div>
    <div>
        {loop="$action_plugin"}
            {$value}
        {/loop}
    </div>
</div>
{/if}